.textArea{
    height: 20vh;
}

.sendBtn{
    margin: 20px;
    float: right;
}

.templateBtn{
    margin:20px;
    float: left;
}

.offlineMsg{
    text-align: right;
    color: crimson;
    padding: 5px;
}