.marker-pin {
    width: 24px;
    height: 24px;
    border-radius: 50% 50% 50% 0;
    /* background: #c30b82; */
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }

  .marker-pin::after {
      content: '';
      width: 18px;
      height: 18px;
      margin: 3px 0 0 3px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
  
  .custom-div-icon i {
     position: absolute;
     width: 18px;
     font-size: 18px;
     left: 0;
     right: 0;
     margin: 5px 3px;
     text-align: center;
  }

